#guess{
    max-width:  750px;
    max-height: 500px;
}
#imgcontainer{
    text-align:center;
    background:rgb(249, 249, 249);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(243, 243, 243);
  border: 1px solid #fff;
}
#boxer{
    background-color: #3b5998;
    color: white;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.guessbutton{
    margin: 0 50px 0 50px;
    background: rgb(243, 243, 243);
}
.guessbutton:hover{
    background: white;
}